body {
  background-color: black;
  background-image: url(https://66.media.tumblr.com/4195097fead91999a0107566548ba022/tumblr_nstl12Jl3R1qi45wno1_1280.jpg);
  background-repeat: no-repeat;
  background-position: center
}
